a{
    display: block;
    color: #000;
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: center;
}
.right{
    float: right;
}
.left{
    float: left;
}
.edit-your-data{
    height: auto;
    text-align: left;
}
.common-img{
    display: block;
    width: 100%;
    height: 100%;
}
.header{
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color:#303030;
    border-bottom: 1px solid #eee;
}
.header-bottom{
    border-bottom: 1px solid #eee;
}
.header-left{
    float: left;
    width: 24px;
    height: 24px;
    margin: 10px 0 10px 20px;
    background: url("/images/fanhui.png");
    background-size: 100%;
}
.header h3,.header .follow-title{
    margin: 0 90px;
    height: 100%;
    line-height: 45px;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    overflow: hidden;
}
.header .header-hf{
    line-height: 23px;
}
.header .header-hf span{
    display: block;
    font-size: 12px;
    color: #999;
}
.header-right{
    float: right;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 10px 20px 10px 0;
    background-size: 100%;
}
.finnish-edit{
    background: url("../images/wc-icon.png");
    background-size: 100%;
}
#btn-dz-link{
    width: auto;
    font-size: 12px;
}
.header .btn-title-text{
    font-size: 12px;
    color: #000;
    background-image: url("../images/xzbj-icon.png");
}
.header .bg-add{
    background-image: url("../images/jiahao-black.png");
}
.content-box{
    overflow: hidden;
    margin-bottom: 55px;
}


/*店铺的头部*/
.store-header,.other-header{
    height: auto;
    background-color: #eee;
    border: none;
}
.renzheng,.finish{
    width: unset;
    padding: 0 5px;
    border-radius: 10px;
    text-align: center;
}
.finish{
    background-color: #aaa;
    height: 16px;
    line-height: 16px;
    margin: 16.5px 20px;
}
.store-message-box{
    margin: 20px;
}
.store-message-box .icon-box{
    width: 55px;
    height: 55px;
    float: left;
    margin-left: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.store-name{
    margin-left: 75px;
}
.setting{
    width: 24px;
    height: 24px;
    float: right;
    line-height: 24px;
    background: url("../images/setting-icon.png");
    background-size: 100%;
}
.store-name h2{
    font-size: 16px;
    font-weight: normal;
}
.store-name h2 span{
    display: inline;
    font-size: 12px;
    width: unset;
    height: 20px;
    line-height: 20px;
    background-color: #f49610;
    margin-left: 10px;
    border-radius: 5px;
    padding: 0;
}
.store-name span{
    display: block;
    position: relative;
    font-size: 13px;
    padding-left: 15px;
}
.store-name span i{
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: #000;
}
.store-brief{
    margin-left: 10px;
    margin-top: 10px;
}
.store-brief span{
    font-size: 14px;
}
.store-brief p{
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
    height: 40px;
    overflow: hidden;
}
.header .follow-title{
    justify-content: space-around;
    margin: 0 80px;
}
.header .follow-title li{
    margin: 11.5px 0;
    border: none;
    box-shadow: none;
    background: unset;
    font-size: 15px;
    height: 22px;
    border-radius: unset;
    line-height: 22px;
    color: #fff;
}

/*别人的主页的头部样式*/
.other-header{
    background-color: #f49610;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: url("/images/backggg.jpg");
}
.other-header .header-left{
    margin-top: 20px;
}
.other-box{
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}
.other-icon-box{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
}
.other-box h3{
    position: relative;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}
.other-box h3 i{
    display: inline-block;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    background-image: url(../images/grade.png);
    background-size: 100%;
}
.other-box p span{
    /* display: block; */
    /* width: 50px; */
    /* margin: 0 auto; */
    font-size: 12px;
    /*color: #666;*/
    margin: 0 10px;
}
.other-box p{
    font-size: 12px;
}


/*隐藏的div*/
.get-cookie{
    display: none;
}