body,p,h1,h3,h4,h5,h6,h2,ul,dl,ol,dd,hr,input,textarea,td,th,fieldset,option,legend,button{margin:0; padding:0;}
li{list-style: none;}
a{text-decoration: none; color: #666;}
body{font-size:14px; }
h1,h3,h4,h5,h6,h2,b,strong{font-weight: normal;}
i,em{font-style: normal;}
input,a,area{outline: none;}
img{display: block; border:none}
table{border-collapse: collapse;}
.clear:after{content:" "; display: block; clear: both; height: 0; visibility: hidden;}
.clear{zoom:1;}
.fl{float:left;}
.fr{float:right;}

/*点击去的展示*/
html,body{
    height:100%;
    width:100%;
    /* font-size:10px */
    }
#home{
    height: 100%;
    flex-direction: column;
    display: flex;
}    
header{
    width:100%;
    height:45px;
   background: #303030;
    text-align: -webkit-center;
    line-height: 45px;  
}

header ul{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 20px;
    
}
header ul li{
    height:45px;
    line-height: 45px;
    color: #fff;
    font-size: 16px;
    font-weight: bold
}
header ul li a{
    width:45px;
    height:45px;
    background: yellow;
    display: block; 
}
header ul li span{
    width:45px;
    height:45px;
    display: block;
}
section{
    overflow-y: auto;
    width: 100%;
    height: 280px;
    /*margin: 25px 0;*/
   background: url(../images/backggg.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100% ;
}

/*介绍*/

.myContent{
	margin: 15px;
}
.myImg{
	width: 50px;
	height: 50px;
}
.myImg>img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.myName{
	margin-top: 15px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}
.myaddress{
	margin-top: 10px;
	font-size: 14px;
	color: #c2c2c2;
}
.myWorks{
	margin-top: 10px;
	font-size: 14px;
	color: #c2c2c2;
	 word-break: break-all; 
     word-wrap: break-word; 
     white-space: pre-wrap
}
.myBtn{
	width: 100%div.;
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}
.myFans{
	color: #fff;
}
