body,p,h1,h3,h4,h5,h6,h2,ul,dl,ol,dd,hr,input,textarea,td,th,fieldset,option,legend,button{margin:0; padding:0;}
li{list-style: none;}
a{text-decoration: none; color: #666;}
body{font-size:14px; }
h1,h3,h4,h5,h6,h2,b,strong{font-weight: normal;}
i,em{font-style: normal;}
input,a,area{outline: none;}
img{display: block; border:none}
table{border-collapse: collapse;}
.clear:after{content:" "; display: block; clear: both; height: 0; visibility: hidden;}
.clear{zoom:1;}
.fl{float:left;}
.fr{float:right;}

/*点击去的展示*/
html,body{
    height:100%;
    width:100%;
    /* font-size:10px */
    }
#home{
    height: 100%;
    flex-direction: column;
    display: flex;
}    
header{
    width:100%;
    height:45px;
    background: #303030;
    text-align: -webkit-center;
    line-height: 45px;  
}

header ul{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
header ul li{
    height:45px;
    line-height: 45px;
    color: #fff;
    font-size: 16px;
    font-weight: bold
}
header ul li span{
    width:45px;
    height:45px;
    /*background: yellow;*/
    display: block; 
}
header ul li input{  
    height:30px;
    outline: none;
    border:0;
    background: #e5e5e5;
    border-radius: 30px;
    color: #000;
    /* text-indent: 1em; */
    padding: 0 21px;
    font-size: 16px;
    font-weight: 700;
    
}
.header_input{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_input div{
    height: 30px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 7px;
}

.header_input div span{

}

.header_input div span:nth-child(1){
    width:20px;
    height:20px;
    text-align: center;
    line-height: 20px;
    color: #aaaaaa;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.header_input div span:nth-child(1) img{
   width:100%;
   height:100%;
   transform: rotate(90deg)
}
.header_input div span:nth-child(2){
    width:20px;
    height:20px;
    line-height: 20px;
    cursor: pointer;
    display: block;
    margin-left: 10px;
}
.header_input div span:nth-child(2) img{
    width:100%;
    height:100%;
    
}
.bigContainer{
    overflow-y: auto;
}

/*介绍*/
#designerd_abstract{
    margin: 0 10px;
}
.designerd_abstract_top{
    height:90px;
    
    display: flex;
    justify-content: space-between;
    align-items: center

}
.designerd_abstract_chart{
    width:56px;
    height:56px;
    border-radius: 56px;
    margin-right: 10px;
}
.designerd_abstract_chart>img{
    width: 100%;
    height: 100%;
    border-radius:50%;
}
.designerd_abstract_top>div:nth-child(1){
    display: flex;
    align-items: center;
    width:70%;
}
.designerd_abstract_top>div:nth-child(2){
    width:62px;
    height:30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    border-radius: 30px;
    background: #df5000;
    color: #fff;
}
.designerd_abstract_locn{
    width:25%;
    display: flex;
    justify-content: space-between
}
.designerd_abstract_locn>div{
    width:25px;
    height:25px;
    /*background: blue;*/
}
.designerd_abstract_locn>div>img{
	width: 100%;
	height: 100%;
}
/*作品图片*/
#designerd_serch_pic{
    display: flex;
    justify-content: space-between;
    
}
#designerd_serch_pic>div{
    width: 48.8%;
    margin: 0 auto;
}
#designerd_serch_pic div ul li{
    width:100%;
    height:241px;
   
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: darkgray 0 1px 1px 0;
}
.designerd_serch_pic li div:nth-child(1){
    height:183px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}
.designerd_serch_pic li div:nth-child(1) img{
    width:100%;
    height:100%;
    border-top-right-radius:10px;
    border-top-left-radius: 10px;
}
.designerd_serch_pic li div:nth-child(2){
    height:58px;
    background: #fff;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    font-size: 16px;
    line-height: 58px;
    padding-left: 10px 
}
.desContent{
	position: relative;
}

.start2>svg{
	color: #fff;
}
.start2{
	position: absolute;
	top: 15px!important;
	right: 15px!important;
	width: 20px;
	height: 20px!important;
	background: transparent!important;
	color: #fff;
}
.start2>svg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff!important;
	
}

#yelloStart{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.shareGoods{
	display: flex;
	flex-direction: row;
	width: 260px;
	height: auto;
	float: right;
}
