*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
    height: 100%;
}
.footer{
    background: #F49710;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
 }
.footer ul li{
    float: left;
    width: 33.33%;
}
.footer ul li .icon-box{
    width: 30px;
    height: 30px;
    margin: 7px auto 0;
}
.footer ul li span{
    display: block;
    text-align: center;
    font-size: 14px;
    color: #000;
}