.nameHead{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 410px;
	background: #e5e5e5;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.nameHead>span{
	position: absolute;
	top: 14px;
	left: 24px;
	font-size: 25px;
    width: 30px;
    height: 30px;
}
.museumImg{
	    width: 120px;
    height: 120px;
    margin: 90px auto 0;
	
}
.museumImg>img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.introduce{
	width: 200px;
	height: 40px;
	margin: 15px auto;
	display: flex;
	flex-direction: row;
}
.introduce>p{
	font-size: 25px;
	line-height:40px;
	margin: 0;
}
.introduce>span{
	font-size: 26px;
	line-height: 40px;
	margin-left: 10px;
}
.fansCourse{
	display: flex;
	flex-direction: row;
	width: 200px;
	height: 50px;
	margin: 0 auto;
	
}
.fansCourse>p{
	font-size: 19px;
	margin: 0;
	padding-left: 5px;
}
.fansCourse>div{
	font-size: 20px;
}
.followBtn{
	display: flex;
	flex-direction: row;
	width: 85px;
	height: 40px;
	margin: 0 auto;
	background: #818181;
	border-radius:30px ;
}
.followBtn>p:nth-child(1){
	font-size: 30px;
	color: #fff;
	margin: 0;
	line-height:40px;
}
.followBtn>p:nth-child(2){
	font-size: 23px;
	color: #000000;
	margin: 0;
	line-height: 40px;
}
.simpleText{
	margin: 10px 0 0 20px;
}
.simpleText>p{
    font-size: 30px;
    margin-bottom: 0;
    font-weight: bold;
}
.simpleText>ul{
	width: 100%;
	height: 88px;
	overflow: hidden;
}
.simpleText>ul>li{
	font-size: 20px;
}
.icon-xiala{
	float: right;
	font-size: 30px!important;
	margin-right: 35px;
	width: 100%;
	text-align: right;
}
.contentNav{
	width: 100%;
	height: auto;
	position: relative;
	
}
.contentNav>div{
	width: 50%;
	height: auto;
	float: left;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
}
.contentNav>div>p{
	width: 100%;
	height: 60px;
	margin: 0 auto;
}
.navboder{
	border-bottom: 5px solid #ff9a66;
}
.nameList{
  width: 100%;
  position: relative;
  margin-top: 20px;
}
.list_left{
	width: 48%;
	float: left;
	height: auto;
}
.list_right{
	overflow: hidden;
	height: auto;
}
/*拿过来的*/
.museum_shop_pic{
    width:90%;
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: darkgrey 1px 1px 0 0;
    padding-bottom: 20px;
}
.museum_shop_pic div:nth-child(1){
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.museum_shop_pic div:nth-child(1) img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:100%;
    
}
.museum_shop_pic div:nth-child(2){
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #eeeeee;
   
}
.museum_shop_pic div:nth-child(2) h3{
    margin: 15px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 5px;
    font-size: 15px;
    letter-spacing: 3px;
}
.museum_shop_pic div:nth-child(2) h4{
    margin: 0 10px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.museum_shop_pic div:nth-child(2) h4 span{
   width:45px;
   height:45px;
   border-radius: 50%;
   background: blueviolet;
   display: block;
   
}
.museum_shop_pic div:nth-child(2) h4 span>img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.museum_shop_pic div:nth-child(2) h4 em{
    width:26px;
    height:20px;
    display: block;
    float: left;
    font-size: 17px;
        margin-top: 10px;
    /*background: blueviolet*/
}
.contentNum{
	font-size: 12px!important;
}
