.swiper-box{
    height: 250px;
}
.shop-index,.flash-swiper{
    width: 100%;
    height: 100%;
}
.flash-sale,.classify-list{
    text-align: center;
    margin: 0 10px;
}
.flash-sale h2{
    /*margin: 20px 0;*/
    line-height: 50px;
}
.flash-sale p{
    height: 20px;
    line-height: 20px;
}
.flash-sale span{
    display: inline-block;
    width: 20px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    background: #ffcc33;
    border-radius: 5px;
    margin: 2px 5px;
}
.flash-sale-swiper{
    height: auto;
    margin-top: 20px;
}
.limit-shop-img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.flash-sale-cont p{
    height: auto;
    font-size: 12px;
    padding: 0 5px;
    line-height: unset;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.classify-list{
    margin-top: 50px;
}
.classify-swiper{
	height: auto;
}
.classify-list span{
    line-height: 25px;
}
.classify-display{
    margin: 10px 5px 0;
}
.classify-display ul{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
}
.classify-display li{
    width: 50%;
    margin-bottom: 5px;
}
.shop-list-box{
    box-shadow: darkgrey 1px 1px 0 0;
    border-radius: 10px;
    overflow: hidden;
    background: #eee;
    margin-left: 2.5px;
}
.shop-list-box p,.shop-cont-right p{
    font-size: 14px;
    color: #000;
    margin: 5px;
	height: 40px;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.shop-list-box p strong,.shop-cont-right p strong{
    border-right: 1px solid #000;
    padding-right: 5px;
    margin-right: 5px;
    display: inline-block;
    height: 13px;
    line-height: 15px;
}
.shop-list-box h3{
    margin: 5px;
    font-size: 16px;
    line-height: 25px;
}
.shop-list-box h3 i{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #333333;
}
.price-box{
    margin: 0 5px;
    font-size: 14px;
}
.distribution-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ffaa00;
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
    background: url("../images/shop/jiahao-fa0.png") no-repeat center;
    background-size: 70%;
}
.shop-cont{
    margin: 20px 20px 0;
    height: 80px;
}
.shop-img{
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
}
.shop-cont-right{
    margin-left: 90px;
    height: 100%;
    overflow: hidden;
}
.shop-cont-right p{
    font-size: 16px;
    margin: 20px 0;
}
.share-setting{
    margin: 20px 20px 0;
}
.ipt-box{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #767676;
}
.ipt-box label{
    float: left;
}
.ipt-cont-box{
    text-align: right;
    margin-left: 100px;
}
.ipt-cont-box select{
    outline: none;
    border: none;
}
.ipt-cont-box input{
    width: 100%;
    outline: none;
    border: none;
    background: unset;
    font-size: 15px;
    color: #000;
    text-align: right;
}



/*商品详情的样式*/
.zc_detailContent{
	width: 90%;
	height: 300px;
	margin: 25px auto;
}
.zc_price{
	font-size: 16px;
}
.zc_del{
	font-size: 14px;
	margin-top: 8px;
}
.zc_goodsDetail{
	width: 180px;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
}
.zc_goodsDetail>p{
	font-size: 15px;
	font-weight: bold;
}
.zc_detail{
	width: 100%;
	height: auto;
	font-size: 15px;
	word-break: break-all;
	word-wrap: break-word;
	margin-top: 8px;
}
.zc_business{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 0;
}
.zc_business{
	font-size: 12px;
}
.zc_line{
	width: 100%;
	height: 2px;
	background: #d2d2d2;
}	
.zc_businehref{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}
.zc_businehref>img{
	
	width: 60px;
	height: 60px;
	border-radius: 20px;
}
.zc_businRank{
	margin-left: 10px;
}
.zc_businRank>p:nth-child(1){
	font-size: 18px;
	color: #000000;
}
.zc_businRank>p:nth-child(2){
	font-size: 16px;
	color: #a7a7a7;
}
.zc_allbusi{
	width: 52px;
	height: 28px;
	border-radius: 10px;
	background: #fa9930;
	line-height: 28px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	margin-left: auto;
	margin-top: 10px;
}
.zc_contentNext{
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
}
.zc_goodsimg{
	width: 100%;
	height: auto;
}
.zc_goodsimg>img{
	width: 100%;
	height: auto;
}
.zc_contentBottom{
	  position: fixed;
    bottom: 0;
    z-index: 66;
    display: flex;
    flex-direction: row;
    width: 93%;
    height: 30px;
    margin: 0 auto;
    background: #fff;
    padding: 23px 15px;
    box-shadow: 0px 0 10px 0px #555555;
}
.zc_bussimg{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.zc_Collection{
	width: 20px;
	height: 20px;
	position: relative;
	margin-left: 20px;
	margin-top: 5px;
}
.zc_Collection>img{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
}
.zc_btn{
	width: 165px;
	height: auto;
	display: flex;
	flex-direction: row;
	margin-left:auto;
}
.zc_btn>div{
	margin-left: 15px;
	width:65px;
	height: 30px;
	border-radius: 15px;
	border: 2px solid #fe993d;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
}	
.zc_btn>div:hover{
	background: #ff9935;
}
.common-header-left>img{
	width: 130%;
	height: 130%;
}
.zc_right>img{
	width: 100%;
	height: 100%;
   background: none!important;
}
.zc_right{
	width: 34px;
    height: 25px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    position: relative;
}
.zc_right>p{
	position: absolute;
	top: 0;
}
  /*购物车样式*/ 
.zc_cartitle{
	position: absolute;
	top: 20px;
	left: 45%;
}
.zc_carGoods{
	width: 97%;
	height: auto;
	margin: 0 auto;
	border-radius: 15px;
	margin-top: 50px;
}
.zc_carName{
	padding: 10px;
	display: flex;
	flex-direction: row;
	background: #eeeeee;
	margin: 0 0 40px 0;
}
.zc_choose{
	width: 30px;
}

.zc-checkbox:checked {
	background:#1673ff
}
.zc-checkbox {
	width:20px;
	height:20px;
	border:1px solid #C9C9C9;
	-webkit-border-radius:50%;
	border-radius:50%;
	font-size:0.8rem;
	margin:0;
	padding:0;
	position:relative;
	display:inline-block;
	cursor:default;
	-webkit-appearance:none;
	-webkit-user-select:none;
	user-select:none;
	-webkit-transition:background-color ease 0.1s;
	transition:background-color ease 0.1s;
	outline: none;
	
}
.zc-checkbox:checked::after {
	content:'';
	top:3px;
	left:3px;
	position:absolute;
	background:transparent;
	border:#fff solid 2px;
	border-top:none;
	border-right:none;
	height:6px;
	width:10px;
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.mt35{
	margin-top: 35px;
}
.zc_cartimg{
	margin-left:5px ;
}
.zc_cartimg>p{
	font-size: 18px;
}
.zc_cartimg>img{
	width: 80px;
	height: 80px;
	border-radius: 10px;
	margin-top: 30px;
}
.zc_cartText{
	width: 100px;
	height: auto;
	margin-left: 10px;
}
.zc_cartText>p:nth-child(1){
	font-size: 15px;
	margin-top: 55px;
	word-wrap: break-word; 
    white-space: pre-wrap; 
}
.zc_cartText>p:nth-child(2){
	font-size: 15px;
	margin-top: 2px;
	word-wrap: break-word; 
    white-space: pre-wrap;
}
.zc_cartText>p:nth-child(3){
	font-size: 12px;
	margin-top: 10px;
	word-wrap: break-word; 
    white-space: pre-wrap;
}
.zc_cartText>p:nth-child(4){
	font-size: 12px;
	margin-top: 2px;
	word-wrap: break-word; 
    white-space: pre-wrap;
}
.zc_goright{
	margin-left: auto;
}
.zc_gorightImg{
	margin-top: 10px;
}
.zc_gorightImg>img{
 width: 30px;
 height: 30px;	
 float: right;
}
.zc_btngroup{
	    width: 80px;
    height: 25px;
    display: flex;
    flex-direction: row;
    border-right: 15px;
    border: 1px solid #a0a0a0;
    margin-top: 105px;
    border-radius: 5px;
}
.zc_btngroup>div{
	width: 30px;
	height: 100%;
	text-align: center;
}
.zc_btngroup>div:nth-child(2){
	border-left: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0;
}
.zc_cartbottom{
	display: flex;
	flex-direction: row;
	padding-left:10px;
	justify-content: space-between;
	width: 97%;
	height: 50px;
	background: #fff;
	position: fixed;
	bottom: 50px;
	z-index: 66;
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	line-height: 50px;
}
.zc_cartdiv>input{
	display:block;
	margin: 10px 0 0 10px;
}
.zc_cart_Count{
	width: auto;
	height: 25px;
	background: #ff9957;
	border-radius:10px;
	margin: 10px 10px 0 0 ;
	font-size: 14px;
	color: #fff;
	line-height: 25px;
	text-align: center;
	padding: 0 3px;
}
.zc_cartTotal{
	margin-left: 100px;
}
.zc_cartdiv{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	background: #fff;
	position: fixed;
	bottom: 0;
	z-index: 66;
	line-height: 40px;
	position: absolute;
	top: 0;
}
.ml100{
	margin-left: 100px;
}

/*#zc_cartdiv2{
	display: none;
}*/
