.container{
    width: 100%;
    height: auto;
}
header{
    width:100%;
    height:35px;
    background: #272727;
    position: fixed;
    top: 0;
    z-index: 999;
    padding-top: 10px;
}
header>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 5px auto;
}
header>ul>li img{
    width: 20px;
    height: 20px;
}
header>ul>li>p{
    font-size: 16px;
    color: #fff;

    font-weight: bold;
}
.styleTitle{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100%;
    justify-content: space-between;
}
.styleTitle>p{
    width: 100%;
    text-align: center;
}
.addcolor{
    color: #e83c45;
}
.noteList{
    margin-top: 50px;
    background: #eee;
}
.bander{
    /*width:100%;*/
    overflow: hidden;
    margin: 30px 10px 0;
    background: #fff;
    padding-bottom: 11px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #878787;
}
.swiper-addone{
    border-radius: 10px;
}
.dx-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.swiper-wrapper img{
    width:100%;
    /*height:96%;*/
    display: block;
    /*margin: 0 auto;*/
    /*border-radius: 10px;*/
    /*box-shadow: 2px 0px 14px 0px #878787*/
}
.swiper-container{
    height: 180px!important;
}
.bannerTitle{
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
    margin: 10px 5px;
}
.studyPeople{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.studyPeople>img{
    width: 20px!important;
    height: 20px!important;
    margin:0 0 0 10px!important;
}
.studyPeople>p{
    font-size: 12px;
    color: #666;
    margin: 2px 0 0 10px;
}
.caseud{
    line-height: 30px;
    background: #eee;
}
.caseud a{
    font-size: 14px;
    color: #999;
}
.souinp{
    width: 240px;
    height: 27px;
    border-radius: 10px;
    background: #555555;
    margin-left: 55px;
    display: flex;
    flex-direction: row;
}
.souinp>img{
    width: 20px;
    height: 20px;
    margin: 5px 0  0 5px;
}
.souinp>input{
    background: transparent;
    height: 100%;
    color: #fff;
    outline: none;
    border: none;
}
.styleSou{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.styleSou>p{
    color: #fff;
    font-size: 16px;
    margin-right: 20px;
}
.addhight{
    width: 100%;
    height:60px;
    background: #eee;
}
.studyDz{
    width: auto;
    height: 20px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 10px;
}
.dzimg{
    position: relative;
    width: 20px;
    height: 20px;
}
.dzimg>img{
    width: 20px!important;
    height: 20px!important;
    border-radius: 0 !important;
    box-shadow: none!important;
}
.redDz{
    position: absolute;
    top: 0;
    left: 0;
    display: none;

}
.studyDz>p{
    font-size: 14px;
     margin-left: 5px;
}