body,p,h1,h3,h4,h5,h6,h2,ul,dl,ol,dd,hr,input,textarea,td,th,fieldset,option,legend,button{margin:0; padding:0;}
li{list-style: none;}
a{text-decoration: none; color: #666;}
body{font-size:14px; }
h1,h3,h4,h5,h6,h2,b,strong{font-weight: normal;}
i,em{font-style: normal;}
input,a,area{outline: none;}
img{display: block; border:none}
table{border-collapse: collapse;}
.clear:after{content:" "; display: block; clear: both; height: 0; visibility: hidden;}
.clear{zoom:1;}
.fl{float:left;}
.fr{float:right;}
html,body{
    height:100%;
    width:100%;
    /* font-size:10px */
    }
#home{
    height: 100%;
    flex-direction: column;
    display: flex;
}    
header{
    width:100%;
    height:50px;
    background: transparent; 
    position: fixed;
    top: 0;
    z-index: 999;
}
#recommend{
    width:100%;
    height:30px;
    font-size: 18px
}
#recommend div{
    height:3.7503rem;
    line-height: 45px;
    text-align: center;
   color: #fff;
    position: relative;
    font-size: 15px
}
#recommend div:nth-child(1){
    width:100%;
}
#recommend div:nth-child(2){
    height:45px;
    width:45px;
    background: #d2d2d2;
    position:absolute;
    top:10px;
    right:40px
}
.searchContainer{
	width: 100%;
	height: auto;
	position: absolute;
	
}
#search{
     width: 70%;
    height: 25px;
    line-height: 25px;
    /*border: 1px solid #d2d2d2;*/
    border-radius: 20px;
    /*margin-top: 10px;*/
    overflow: hidden;
   background: rgba(70,70,70,0.7);
   color: #fff;
    position: relative;
    z-index: 999;
    margin: 10px auto 0;
}
.search_style1{
    /*width:300px;*/
    /*height:35px;*/
    /*border:1px solid #e0e0e0;*/
    /*border-radius: 35px;*/
    /*position: relative*/
    margin: 0 40px 0 15px;
    height: 100%;
}
.search_style1 input{
    /*height:35px;*/
    /*border: none;*/
    /*float: right;*/
    /*margin-right: 20px;*/
    /*padding-right: 56px;*/
    /*text-indent:2em*/
    width: 100%;
    outline: none;
    border: none;
    font-size: 15px;
     background: transparent;
     color: #fff;
}
.search_style1 input::placeholder{
	color: #e5e7e5;
}
#search button{
    display: block;
    float: right;
    width: 40px;
    height: 100%;
    border: none;
    outline: none;
    background: url("../images/serch.png") no-repeat center;
    background-size: 50%;
}
.search_style1 span{
    width:35px;
    height:35px;
    display: block;
    text-align: center;
    line-height: 35px;
    float:left;
    margin-left: 20px;
    }
/*中间*/
section{
    margin-bottom: 60px;
    flex: 1;
    overflow-y: auto;
    /*margin-top: 100px;*/
    position: relative;
}
/*轮播图*/
#bander{
    width:100%;
    overflow: hidden
}
#bander img{
    width:100%;
    height:100%;
}
/*列表*/
#list{
    width: 100%;
    height: 80px;
    margin: 0px 0 15px 0;
    /*box-shadow: -4px 2px 27px -3px #787878;*/
    box-shadow: 2px 1px 13px 3px #bcbebc;
}
#list ul{
    display: flex;
    justify-content: space-around;
    align-items: center
}
#list ul li{
    width:60px;  
   text-align: center;
   font-size: 12px;
   margin-top: 10px;
}
#list ul li a{
    width:40px;
    height:40px;
    /*border-radius: 60px;*/
    overflow: hidden;
    display: block;
    margin: 0 auto 5px;
    color: #000;
    font-weight: 900
}
#list ul li a img{
    width:100%;
    height:100%;
    /*border-radius: 60px;*/
}
.culture{
	position: relative;
	
	width: 100%;
	height: auto;
	box-shadow: 2px 1px 13px 3px #bcbebc;
    margin-bottom: 16px;
}
.culture>p{
	position: absolute;
	top: 15px;
	left: 10px;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	
}

/*展示*/
#exhibition{
    width:100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 1px 13px 3px #bcbebc;
}
#exhibition>div{
    width:47%;
}
.exhibition_right{
    margin-right: 5px;
}
.exhibition_left{
    margin-left: 5px;
}
.exhibition_left ul{
    width:100%;
}
.exhibition_left ul li{
    width:100%;
    border-radius: 10px;
    margin-top: 7px;
    box-shadow: darkgrey 1px 1px 0 0;
    overflow: hidden
}
.exhibition_left ul li div{
    width:100%;
    
}
.exhibition_left ul li div a{
    width:100%;
}
.exhibition_left ul li div a img{
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}

.exhibition_left_describe{
   
    background: #eeeeee;
   

}
.exhibition_left_describe h1{
    padding: 5px 0 0 5px;
    font-weight: bold;
    font-size: 16px;
}
.exhibition_left_describe p{
    padding:0 5px 5px 5px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.exhibition_left_describe h3{
    width:100%;
    height:40px;
    margin-top: 5px;
    
    display: flex;
    align-items: center
}
.exhibition_left_describe h3 span {
    width:20px;
    height:20px;
    display: inline-block;
    /*background: red*/
   
}
.exhibition_left_describe h3 span:nth-child(1){
    margin-left:30px;
    margin-right: 5px
}
.exhibition_left_describe h3 span{
    float:left;
}

.exhibition_left_describe h3 i{
    font-size:10px
}
.exhibition_left_describe h3 i:nth-child(2){
    margin:0 20px 0 0
}
.exhibition_left_describe h3 span:nth-child(3){
   
    margin-right: 5px
}

.exhibition_right ul{
    width:100%;
}
.exhibition_right ul li{
    width:100%;
    border-radius: 15px;
    margin-top: 7px;
    box-shadow: darkgrey 1px 1px 0 0;
  
    overflow: hidden
}
.exhibition_right ul li div{
    width:100%;
}
.exhibition_right ul li div a{
    width:100%;
}
.exhibition_right ul li div a img{
    width:100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}

.exhibition_right_describe{
    margin-left: 8px;
}
.exhibition_right_describe h1{
    margin: 5px 0;
}
.exhibition_right_describe p{
    padding:0 5px 5px 5px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

/*底部*/
footer{
    width:100%;
    height:48px;
    bottom:0;
    left:0;
    background: #ec9b3f;
    border-top:2px solid #eee
}
footer ul{
    display: flex;
    height:45px;
    
}
footer ul li{
    flex: 1;     
}
footer ul li a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    color: #000;
    font-weight: bold;
    margin-top: 4px;
}
footer ul li a:hover{
    color: red;
}
footer ul li a em{
    font-size:23px;
}
footer ul li a i{
    font-size:15px;
}
